<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <body>
        <%- include('./partials/nav.ejs')%>
        <div class="blogs content">
            <h2>About Us</h2>
            <p>Working on the web is my passion as I love to work on exciting projects Working onthe web is my passion as I love to work on exciting projectsWorking on the web my passion as I love towork on exciting projects Working on the web is my passion as I love to work on exciting projects.</p>
            

        </div>
        <%- include('./partials/footer.ejs')%>
    </body>
</html>